@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sen:wght@400..800&display=swap");
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 900px) {
  .grid li {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .grid li {
    width: 100%;
  }
}

/*GRID*/
@media screen and (max-width: 1500px) {
  .tile_inner {
    left: 30px;
    bottom: 25px;
    max-width: 90%;
  }
  .tile {
    height: 330px;
  }
  .tile.rowspan2 {
    height: 660px;
  }
}

p {
  font-family: "Sen", sans-serif;
  font-size: 16px;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.4;
}

section a {
  text-decoration: none;
}

a.btn-primary {
  color: #1c2129;
  background: #cb993c;
  border: none;
  font-weight: 600;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

a.btn-primary:hover {
  color: white;
  background: #005b4c;
  border: none;
}

header a {
  text-decoration: none;
  color: #e6bd70;
  font-weight: 500;
}

.tiles a {
  border-radius: 0;
}

.txt-pri {
  color: #e6bd70;
}

.txt-sec {
  color: #005b4c;
}

.txt-pad {
  color: #212529;
}

h4.txt-pad {
  width: 80%;
  font-weight: 400 !important;
}

.border-bottom {
  border-color: #fff;
}

.tile .fs-1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5em;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

#faixa {
  background-color: #005b4c;
}

#faixa2 {
  background-color: #2f4858;
}

#faixa3 {
  background: linear-gradient(44deg, #9db2b3, #e2e3db, #d5dcd5, #c7d4cb);
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

div.sep {
  background: #fff;
  opacity: .4;
  height: 2px;
  width: 40px;
  display: inline-block;
  margin: 23px 5px 8px;
}

a.service {
  display: grid;
}

.tiles {
  background: #fff;
  overflow: hidden;
}

.tile {
  display: block;
  float: left;
  width: 20%;
  height: 440px;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0097e1;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.tile_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -moz-transform: scale(1.01) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1.01) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1.01) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1.01) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1.01) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tile:hover .tile_bg {
  -moz-transform: scale(1.05) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1.05) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1.05) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1.05) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1.05) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.tile_tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.tile:hover .tile_tint {
  opacity: .7;
}

.tile.tile20 {
  width: 20%;
}

.tile.tile25 {
  width: 25%;
}

.tile.tile30 {
  width: 30%;
}

.tile.tile33 {
  width: 33.3333333333%;
}

.tile.tile40 {
  width: 40%;
}

.tile.tile50 {
  width: 50%;
}

.tile.tile60 {
  width: 60%;
}

.tile.tile100 {
  width: 100%;
}

.tile.floatright {
  float: right;
}

p.tile_subtitle {
  font: normal normal 12px/16px 'Avenir LT W01_95 Black1475556',Helvetica,Arial,sans-serif;
  letter-spacing: .31em;
  opacity: .5;
  text-transform: uppercase;
  margin: 10px 0 5px;
  -webkit-font-smoothing: antialiased;
}

.tile_inner {
  position: absolute;
  bottom: 45px;
  left: 60px;
  max-width: 80%;
  color: #fff;
}

.tile_inner h2 {
  color: #cb993c;
}

.tile p {
  margin: 0;
}

.tile .sep {
  margin: 4px 0;
}

.tile:hover span.view {
  opacity: 1;
  -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.tile.rowspan2 {
  height: 880px;
}

.tile.rowspan2 .tile_inner {
  bottom: 25%;
}

.tile.featured p {
  margin-bottom: 10px;
}

.tile.rowspan1point5 {
  height: 660px;
}

.tile.featured h2, .tile.rowspan2 h2 {
  font-size: 88px;
  line-height: 78px;
  margin: 8px 0 16px;
  font-family: "Bebas Neue", sans-serif;
}

.tile.featured p:not(.tile_subtitle) {
  font-size: 26px;
  line-height: 36px;
}

/*Disciplinas*/
.services {
  display: flex;
  flex-wrap: wrap;
  /* Permite que os itens quebrem para a próxima linha */
  color: #fff;
}

.service {
  flex: 1 0 16.666%;
  /* Define o tamanho base como 16.666% */
  padding: 10px;
  height: 255px;
  font-size: 16px;
  text-align: center;
  transition: all .15s ease-in-out;
  background: rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
}

.service_inner {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 20px;
}

p.service_icon {
  line-height: 0;
  font-size: 0;
  position: relative;
  padding-top: 1.5em;
}

.service p {
  margin: 0;
  font-size: 14px;
  line-height: 28px;
  color: #929391;
}

p.service_icon img {
  height: 87px;
  position: relative;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service h3 {
  opacity: 1;
  font-size: 1.5rem;
  font-family: "Sen", sans-serif;
  margin: 16px 0;
  letter-spacing: .2em;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.service_text {
  opacity: 0;
  overflow: hidden;
  height: 1px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.service.odd {
  background: rgba(0, 0, 0, 0.08);
}

.service_text p {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: white;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.service.smaller {
  width: 15%;
}

.service.hover {
  background: rgba(0, 0, 0, 0.2);
  width: 25%;
}

.service:hover h3 {
  color: #e6bd70;
}

.service:hover .service_text {
  opacity: 1;
  height: auto;
  /* Isso vai expandir o conteúdo para mostrar o texto */
}

.service:hover {
  transform: scale(1.05);
  /* Efeito de zoom */
  background: rgba(0, 0, 0, 0.2);
}

.service_text {
  height: 0;
  /* Começa escondido */
  overflow: hidden;
  /* Esconde o conteúdo */
  transition: all 0.15s cubic-bezier(0, 0, 0.2, 1);
}

/* Para que o texto fique visível na transição */
.service:hover .service_text p {
  opacity: 1;
  /* Muda a opacidade para visível */
  transition-delay: 0.2s;
  /* Delay para a transição do texto */
}

/*Blog*/
.container {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.blog .title {
  text-align: center;
}

.blog .border {
  border-color: #328a8e !important;
}

.thumb-blog img {
  width: 200px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*Chamada*/
.product-device {
  position: absolute;
  right: 20%;
  bottom: -40%;
  width: 300px;
  height: 540px;
  border-radius: 21px;
  transform: scale(1.2);
}

.product-device-2 {
  top: auto;
  right: auto;
  bottom: 0;
  left: auto;
}

/*
 * Extra utilities
 */
.flex-equal > * {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
